.button-container {
    display: flex;
    flex-direction: column;

}

.btn {
    width: 10em;
    margin: 1em;
    margin: auto;
}

/* .container {
    margin: auto;
} */

.card {
    margin: 7em;
}

.space-between {
    margin-bottom: 2em;
}

.card-text {
    padding: 0em 5em 0em 5em;
}

.card-body {
    padding:2em;
}
