.dates-background {
    margin:2%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding:2em;
    
  }

  .artist-dates-container {
    display: flex;
    flex-direction: column;
    margin: 2% 25%;
   
  }

  .date-link {
    text-decoration: none;
    color: #404040;
  }
  .date-link:hover {
    color:rgb(149, 173, 173)
  }

  ul {
    list-style-type:none
  }



.search {
  display: block;
  width: 94%;
  margin: 1rem 1rem 1rem 2rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form--search {
    background-position-x: right; 
    z-index: 1;
    min-width: 45rem;
}

h2 {
    margin-bottom: 0rem;
}

.searchField {
    padding: 0rem;
    font-weight: bold;
}

.search-container {
  display: flex;
  justify-content:flex-end;
  padding-bottom: 0;
}

.search-results {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding:.5em;
    
}

.no-style {
    background-color: transparent;
    padding: 0;
}

.search-results-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}