body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.form {
  padding: 1rem;

  margin: 2rem;

}

.journal {
  height: 200%;
}