.streak-button {
    justify-content: space-around;
    width: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #484b4e;
    border-color: #c7dbd9;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    padding: .1rem .2rem;
    font-size: 1rem;
    border-radius: 50%;
    pointer-events: none;
    cursor: not-allowed;
}



.btn-fill {
    justify-content: space-around;
    width: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #484b4e;
    border-color: #c7dbd9;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    background-color: #c7dbd9;
    padding: .1rem .2rem;
    font-size: 1rem;
    border-radius: 50%;
    pointer-events: none;
    cursor: not-allowed;
}



.streak-buttons {
    display: flex;
    justify-content: space-around;   
}

