/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');



/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
  margin: 0;
  
}

h1 {
  font-family: 'Beth Ellen', cursive;
  letter-spacing: 2px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.background {
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
  opacity:40%;
  width: 100%;
  max-height: fit-content;
}



/* .background::before{
  content:"";
  background-image: url(./images/brush-background.jpeg);
  opacity:0.5;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width:auto;
  height:auto;
  z-index:-3;
} */