/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans&display=swap');



/*Typography
--------------------------------------------------------------*/
body,
button,
label,
input,
select,
textarea {
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
  margin: 0;
  
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  /* padding: 0em 5em 0em 4em; */
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

.background {
  position:absolute;
  left:0px;
  top:0px;
  z-index:-3;
  opacity:40%;
  width: 100%;
  /* height: auto; */
}

.card-body {
  display: flex;

  justify-content: center;
  margin: 1% 30%;
  padding: 0% 30% 2% 30%;
  font-family: 'Montserrat', sans-serif;
  border-style: solid;
  width: 50%;
}

  
.card {
  /* text-align: center; */
  align-content: center;
  margin: 2% 25%;
 
}

.button-container {
  display: flex;
  flex-direction: column;

}

.btn {
  width: 10em;
  margin: auto;
  padding: 1em 0em 1em 0em;
  font-family: 'Montserrat', sans-serif;
}

/* .container {
  margin: auto;
} */

/* .card {
  margin: 2em 10em 2em 10em;
} */

.space-between {
  margin-bottom: 2em;
}

.card-text {
  padding: 0em 2em 0em 2em;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: 1%;
}

.form-checkbox-group {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;

  
}

.distortions {
  text-decoration: none;
  color: #404040;
}
.distortions:hover {
  color:rgb(149, 173, 173)
}

.checkbox-field {
  margin-bottom: 1em;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding:2em;
  width: 75%;
}

.checkbox {
  margin-right:.5em;
}

.mp-title {
  font-family: 'Beth Ellen', cursive;
  color: #6c757d;
  margin-bottom: 2%;
}

.completed-checkin {
  margin-bottom: 1em;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding:2em;
  width: 75%;    
}

.weekly-streak{
  margin-bottom: 1em;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding:2em;
  width: 75%;
}
#distortion-details-background {
  margin:5%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding:2em;
  width: 75%;
}

.delete {
  margin: 0em 1em 0em 1em;
}


p {
  margin-bottom: 1.5em;
}

.form {
  padding: 2%;
  margin: 1%;

}

.journal {
  height: 15rem;
}

.entry {
  margin-bottom: 1em;
  background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding:2em;
    width: 75%;
    
}

.distortion-list {
  margin-top: 10%;
}

.edit-title {
  margin: 2% 0 2% 0;
}

label {
  font-weight: 500;
  font-size: 1rem;
}

.home-entries {
  margin: 1% 0% 2% 6%;
}


