/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans&display=swap');



/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
  margin: 0;
  
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0em 5em 0em 4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

.background {
  position:absolute;
  left:0px;
  top:0px;
  z-index:-3;
  opacity:40%;
  width: 100%;
  /* height: auto; */
}

.card-body {
  display: flex;
  justify-content: center;
  margin: 1em 2em 2em 2em;
  padding: 0em 2em 2em 2em;
  font-family: 'Montserrat', sans-serif;
  border-style: solid;


  
}
.card {
  /* text-align: center; */
  justify-content: center;
  /* margin: 2em; */
}

.row {
  /* flex-direction: column;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0; */
  /* width: fit-content; */
  
}
/* .title {
  margin: .75em 0em 0em .75em;

} */

/* .col-sm-6 {
  padding: 5% 5% 5% 50%;
}  */

.button-container {
  display: flex;
  flex-direction: column;

}

.btn {
  width: 10em;
  margin: auto;
  padding: 1em 0em 1em 0em;
}

/* .container {
  margin: auto;
} */

.card {
  margin: 2em 10em 2em 10em;
}

.space-between {
  margin-bottom: 2em;
}

.card-text {
  padding: 0em 5em 0em 5em;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: 1em;
}

.form-checkbox-group {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;

  
}

.distortions {
  text-decoration: none;
  color: #404040;
}


.checkbox-field {
  margin-bottom: 1em;
  background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding:2em;
    width: 30em;
}

.checkbox {
  margin-right:.5em;
  
}




