.bg-light,
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    width:100%;
    /* overflow: hidden; */
    /* margin: 45% 0 0 0; */
    /* position: fixed; */
    /* bottom: 0; */
    /* color: white; */
    
    
}

/* .navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    
} */

a,
.navbar__link {
    text-decoration: none;
    color: #6c757d;

}
/* .icon {
    color: white;
    display:flex;
    flex-direction: column;
    
   
} */

.nav__text {
    font-size: 50%;
}

svg {
    margin-right: .75em;
}

.navbar-brand {
    font-family: 'Beth Ellen', cursive;
    color: #6c757d;
    margin: .5em;
}

.collapse {
    text-align:right;
}




