
.navbar {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: left; */
    background-color: #6c757d;
    width:100%;
    /* overflow: hidden; */
    margin: 45% 0 0 0;
    position: fixed;
    bottom: 0;
    color: white;
    
    
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    


}

.navbar__link {
    text-decoration: none;

}
.icon {
    color: white;
    display:flex;
    flex-direction: column;
    
   
}

.nav__text {
    font-size: 50%;
}

svg {
    margin-left: .75em;
}




