.bg-light,
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    width:100%;
    
    
}

a,
.navbar__link {
    text-decoration: none;
    color: #6c757d;

}

.nav__text {
    font-size: 50%;
}

svg {
    margin-right: .75em;
}

.navbar-brand {
    font-family: 'Beth Ellen', cursive;
    color: #6c757d;
    margin: .5em;
}

.collapse {
    justify-content: flex-end;
}




