@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans&display=swap');


.title-login {
    font-family: 'Beth Ellen', cursive;
    color: #6c757d;
    margin-bottom: 3%;
    overflow-wrap: break-word;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 75%;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding:2em;
    overflow-wrap: break-word;
}

.container--login {
    text-align: center;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.journal {
    height: 20rem;
    margin: 2rem 0rem 2rem 0rem;
}



.login-background {
    margin-bottom: 1em;
    background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
      padding:2em;
      width: 45%;
      height: 20rem;
      margin: 5% 0 2% 25%;
      overflow-wrap: break-word; 
}

.button {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
        
    }

    .entry-field {
        margin: 2% 0% 2% 0%;
        width: 60%;
    }

    .link {
        text-decoration: none;
        color: #404040;
        margin-left: 25%;
      }
      .link:hover {
        color:rgb(149, 173, 173)
      }

#name {
    width: 60%;
}

#email {
    width: 60%;
}

